[user]
  email = jonathan@warykowski.com
  name = Jonathan Warykowski
  signingkey = 1E7AD9E76A140B21

[commit]
  gpgsign = true
  template = ~/.git-commit-template

[core]
  editor = nvim

[merge]
  conflictstyle = diff3

[pull]
  rebase = true

[push]
  default = simple

[status]
  showUntrackedFiles = all

[transfer]
  fsckobjects = true
