[user]
  email = jonathan@myzeller.com
  name = Jonathan Warykowski
	signingKey = F21DC55BCB19C299

[includeIf "gitdir:~/development/"]
  path = ~/development/.gitconfig

[checkout]
  defaultRemote = origin

[commit]
  template = ~/.git-commit-template
	gpgsign = true

[core]
  editor = nvim
  excludesfile = /Users/jwarykowski/.gitignore

[merge]
  conflictstyle = diff3

[pull]
  rebase = true

[push]
  default = simple
  autoSetupRemote = true

[status]
  showUntrackedFiles = all

[transfer]
  fsckobjects = true

[tag]
  gpgSign = true

[rebase]
  updateRefs = true

[fetch]
  prune = true

[init]
  defaultBranch = master
