[user]
	name = Jonathan Warykowski
	email = jonathan@warykowski.com
	signingkey = 1E7AD9E76A140B21
[commit]
        template = ~/.git-commit-template
	gpgsign = true
[core]
	editor = nvim
[pull]
	rebase = true
