extends javascript

snippet tconst "ts const"
	const ${1}: ${2:any} = ${3}
	${0}

snippet tlet "ts let"
	let ${1}: ${2:any} = ${3}
	${0}

snippet tvar "ts var"
	var ${1}: ${2:any} = ${3}
	${0}

snippet + "ts create field"
	${1}: ${0:any}

snippet tint "interface"
	interface ${1} {
		${2}: ${3:any}
		${0}
	}

snippet ttype "type"
	type ${1} = {
		${2}: ${3:any}
		${0}
	}

snippet tfun "ts function"
	function ${1}(${2}): ${3:any} {
		${0}
	}
