[user]
  email = jonathan@myzeller.com
  name = Jonathan Warykowski
	signingKey = F21DC55BCB19C299

[branch]
  sort = committerdate

[checkout]
  defaultRemote = origin

[commit]
	gpgsign = true
  template = ~/.git-commit-template
  verbose = true

[core]
  editor = nvim
  excludesfile = ~/.gitignore
	ignorecase = false
  pager = delta

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true
  dark = true
  line-numbers = true
  hyperlinks = true
  syntax-theme = ansi
  blame-code-style = syntax
  features = wide

# side-by-side lives in a feature so lazygit can turn it off via --features
[delta "wide"]
  side-by-side = true

[delta "lazygit"]
  side-by-side = false

[diff]
  algorithm = histogram
  colorMoved = default
  wordDiff = color

[help]
  autocorrect = prompt

[merge]
  conflictstyle = zdiff3

[pull]
  rebase = true

[push]
  autoSetupRemote = true
  default = simple

[status]
  showUntrackedFiles = all

[transfer]
  fsckobjects = true

[tag]
  gpgSign = true

[rebase]
  updateRefs = true

[fetch]
  prune = true

[init]
  defaultBranch = master
[url "git@github.com:"]
	insteadOf = https://github.com/
